* {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial;
  margin: auto;
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(174, 147, 127);
}

header {
  background-color: var(--coffee-dark);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 90px;
}

header h1 {
  font-size: 2.2em;
  transform: translateX(-40%);
  color: var(--soft-white);
  font-family: "Dancing Script", cursive;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  transform: translateX(25%);
}

nav ul li:hover {
  transform: scale(1.2);
}

nav ul li a {
  text-decoration: none;
  font-size: 1.3em;
  color: var(--soft-white);
  cursor: pointer;
}

nav ul li a:hover {
  color: #d7b899;
}

.section-satu {
  background-image: url(kopi1.png);
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.section-satu > * {
  position: relative;
  z-index: 1;
  color: white;
}

.section-satu h2 {
  width: 300px;
  transform: translate(-300px, -45px);
  color: white;
  font-size: 2.3em;
}

.section-satu p.atas {
  width: 250px;
  color: white;
  transform: translate(-321px, -30px);
}

.menu-satu {
  background-color: var(--cream);
  color: var(--coffee-dark);
  padding: 8px 25px;
  transform: translate(-402px, -20px);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.menu-dua {
  background-color: var(--coffee-light);
  color: white;
  padding: 8px 25px;
  transform: translate(-298px, -55px);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}


.menu-satu:hover, .menu-dua:hover {
  opacity: 0.85;
}

.article-atas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.h1-atas {
  text-align: center;
  padding-top: 30px;
}

.merek-kopi {
  width: 100%;
  background-color: var(--coffee-main);
  margin-top: 30px;
  color: white;
}

img {
  width: 100%;
}

.isi {
  padding: 15px;
  text-align: center;
}

.isi h2 {
  margin-bottom: 10px;
  color: #ffe6c7;
}

.section-dua {
  margin-top: 50px;
  display: flex;
  height: 350px;
  box-sizing: border-box;
}

.container-kiri {
  background-image: url(kopi1.png);
  background-repeat: no-repeat;
  background-size: 1200px auto;
  background-position: 33% 10%;
  flex: 70%;
}

.container-kanan {
  flex: 30%;
  height: 350px;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  background-color: #e6d3b1;
}

.isi-kiri {
  background-color: var(--coffee-dark);
  height: 350px;
  width: 290px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.isi-kiri > .button-isi-kiri,
.p-isi-kiri {
  padding: 10px;
}

.article-bawah {
  display: flex;
  margin-top: 30px;
  height: 450px;
}

.bagian-kiri {
  text-align: center;
  align-content: center;
}

h3.drink-coffee {
  font-size: 2em;
  text-align: left;
  transform: translateX(4%);
  margin-bottom: 10px;
}

.button-left {
  font-size: 0.8em;
  transform: translateX(-40%);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.button-right {
  font-size: 0.8em;
  transform: translate(-20px);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sell-item .shop-cart {
  margin-top: 5px;
  padding: 3px 7px;
  background-color: #958473;
  cursor: pointer;
}

.sell-item .shop-cart:hover {
  transform: scale(1.2);
}

.sell-item .shop-cart img {
  width: 25px;
  height: 15px;
}

p.bot-drink-coffee {
  text-align: left;
  transform: translateX(5%);
  margin-bottom: 10px;
  width: 90%;
}

.text-bagian-kiri {
  width: 100%;
}

.bagian-kanan {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  text-align: center;
  margin-top: 10px;
}

.bagian-kanan img {
  width: 210px;
  height: 130px;
}


footer {
  margin-top: 30px;
  width: 1200px;
  width: auto;
  text-align: center;
  background-color: #2b1d0e;
  color: var(--cream);
}

 table {
  width: 100%;
  padding: 5px;
}

table tr th, table tr td {
  padding: 5px;
}

.h2-coffee {
  margin-bottom: 10px;
  padding-top: 15px;
  font-size: 2em;
}

table tr th {
  font-size: 1.7em;
}

.container-kanan .open-everyday {
  font-size: 1.2em;
}

.container-kiri .isi-kiri .h3-isi-kiri {
  font-size: 1.8em;
}

.merek-kopi .jenis-kopi {
  /* width: 285px; */
  width: 100%;
  height: 200px;
}

@media screen and (max-width:450px){ 

  body {
    margin: auto;
    width: 100%;
  }

  .bagian-kiri {
    display: none;
  }
 
  .bagian-kanan {
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
  }
  
  .bagian-kanan img {
    width: 204px;
    height: 150px;
  }

  .section-tiga {
    display: none;
  }

  .section-dua .container-kiri .isi-kiri {
    flex: 50%;
  }

  .section-dua .container-kanan {
    flex: 50%;
  }

  .section-satu h2 {
    color: black;
    position: relative;
    left: 300px;
    top: 50px;
  }

  .section-satu p.atas {
    color: black;
    font-size: 1.2em;
    transform: translate(-20px, 10px);
  }

  .menu-satu, .menu-dua {
    transform: translateY(20px);
    background-color: var(--coffee-light);
    color: white;
  }

  .menu-dua {
    transform: translateY(25px);
  }

  table tr th, table tr td {
    padding: 3px;
  }

  table tr td {
    font-size: 0.9em;
  }

  .h2-coffee {
   margin-bottom: 0px;
   padding-top: 5px;
   font-size: 1em;
  }

  table tr th {
   font-size: 1em;
  }

  footer{
   margin-top: 500px;
   width: 100%;
  }

  header {
    width: 100%;
  }

  header h1{
    font-size: 1.5em;
    position: relative;
    left: 20px;
  }

  nav ul {
    gap: 15px;
    font-size: 0.9em;
    transform: translateX(0%);
  }

  .article-atas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

}

:root {
  --coffee-dark: #3E2723;
  --coffee-main: #6f4e37;
  --coffee-light: #a47148;
  --cream: #f5efe6;
  --soft-white: #fffdf9;
}

